body{
    background: rgb(60,110,144);
    background: radial-gradient(circle, rgba(60,110,144,1) 0%, rgba(8,36,69,1) 63%);
}

.container{
    font-family: 'Chakra Petch', sans-serif;
    background: rgb(60,110,144);
    background: radial-gradient(circle, rgba(60,110,144,1) 0%, rgba(8,36,69,1) 63%);
    color: aliceblue;
    width: 100%;
}

.logo{
    width: 6%;
    height: 6%;
}

.titulo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4%;
    font-size: 52px;
    margin-bottom: -0.8%;
}

.slogan{
    display: flex;
    justify-content: center;
    align-items: center; 
    font-size: 24px;
    color: #00192d;
}

.selecao{
    display: flex;
    justify-content: center;
    align-items: center; 
    font-size: 24px;
    margin-top: 10%;
    margin-bottom: -5%;
}

.container-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
}
button{
    display: inline-block;
    padding: 40px 80px;
    background-color: #00192d;
    margin: 20px;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    font-size: 28px;
    transition: background-color 0.3s ease;
    box-shadow: 5px 4px 4px rgba(92, 127, 163, 0.302); /* Sombra */
  }

button:hover {
    background-color: #5aa5d30e;
}
.container-un{
    font-family: 'Chakra Petch', sans-serif;
    width: 100%;
    color: rgb(255, 255, 255);
    border-radius: 2px;
    margin-left: -0.1%;
    border: solid #ffffff 1.5px;
    
}

.img{
    width: 350px;
    margin-top: 1%;
}

.nome{
    font-size: 30px;
    margin-left: 0.7%;
    margin-top: 1%;
}

.desc{
    font-size: 20px;
    margin-top: -1%;
    margin-left: 0.7%;
}

.fornecedor{
    margin-left: 0.7%;
    margin-top: -1%;
}
.preco{
    font-size: 30px;
    margin-left: 0.7%;
}
